<!DOCTYPE html>
<html>
<head>
    <title>Blood Requests</title>
</head>
<body>
    <h2>Blood Requests</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Blood Type</th>
            <th>Hospital id</th>
            <th>Units Required</th>
            <th>Request date</th>
        </tr>
        {% for donor in donors %}
        <tr>
            <td>{{ donor[0] }}</td>
            <td>{{ donor[1] }}</td>
            <td>{{ donor[2] }}</td>
            <td>{{ donor[3] }}</td>
            <td>{{ donor[4] }}</td>
            <td>{{ donor[5] }}</td>
            <td>{{ donor[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
